body {
	margin: 30px auto;
	background-color: #626880;
}
form textarea {
	width: 100% ;
	height: 200px;
	resize: none;
	overflow: none;
	box-sizing: border-box;
}
.submitButton {
	align-content: center;
	text-align: center;
}
.table td {
	text-align: center;
	border-top: 3px solid white;
	display: block
}
.container {
	background-color: white;
	border-radius: 25px;
	padding: 3%;
	margin-left: 5%;
	margin-right: 5%;
}
.content {
	/*background-color: #b2c;*/
	width = 90%;
	border-radius: 0px;
	padding-left: 20px;
}
.likert {
	margin-top: 20px;
	font-size: 15px;
	margin-left: 25px;
	margin-bottom: 35px;
}
.textResponse {
	margin-left: 25px;
	font-size: 15px;
}
.timeSpent {
	/*margin-left: 20px;*/
}
/*.blockP {
	overflow: hidden;
	white-space: nowrap;
	clear: both;
	display: inline-block;
}*/
