{% extends "base.html" %}

{% block app_content %}

	<h1>Facebook Questions</h1>
	
	<form action="", method="post", novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.usage.label }}
			{{ form.usage() }}
		</p>
		<p>
			{{ form.timeSpent.label }}
			{{ form.timeSpent() }}
		</p>
		<p>
			{{ form.purpose.label }}
		</p>
		<p>
			{{ form.purpose() }}
		</p>
		<p>For the following multiple-choice questions, please choose the answer you most agree with in response to the statement given.</p>
		<p>
			<i>{{ form.harm.label }}.</i>
			<div class="likert">
			{% for subfield in form.harm %}
				<tr>
					<td>{{ subfield.label }}</td>
					<td>{{ subfield }}</td>
				</tr>
				<p></p>
			{% endfor %}
			</div>
		</p>
	</form>
{% endblock %}
