{% extends "base.html" %}

{% block app_content %}
<!--<div class = "content">-->
	<h1>Pre-survey Questions</h1>
	<form action="", method = "post", novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.age.label }}<br>
			{{ form.age() }}
		</p>
		<p> 
			{{ form.gender.label }}<br>
			<p>{{ form.gender() }}</p>
		</p>
		<p>
			{{ form.education.label }}<br>
			<p>{{ form.education() }}</p>
		</p>
		<p class="ifEducation">
			{{ form.major.label }}<br>
			<p>{{ form.major() }}</p>
		</p>
		<p>
			{{ form.timeSpent.label }}<br>
			<p>{{ form.timeSpent() }}</p>
		</p>
		<p>
			{{ form.submit() }}
		</p>
	</form>
	<!--</div>-->
{% endblock %}
