{% extends "base.html" %}

{% block app_content %}
<!--<div class = "content">-->
	<h1>Pre-survey Questions</h1>
	<form action="", method = "post", novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.age.label }}<br>
			{{ form.age() }}
		</p>
		<p> 
			{{ form.gender.label }}<br>
			<p>{{ form.gender() }}</p>
		</p>
		<p>
			{{ form.education.label }}<br>
			<p>{{ form.education() }}</p>
		</p>
		<p class="ifEducation">
			{{ form.major.label }}<br>
			<p>{{ form.major() }}</p>
		</p>
		<p>
			{{ form.timeSpent.label }}<br>
			<p>{{ form.timeSpent() }}</p>
		</p>
		<p><!--Facebook-->
			{{ form.useFacebook.label }}
			{{ form.useFacebook() }}
		</p>
		<p><!--Google-->
			{{ form.useGoogle.label }}
			{{ form.useGoogle() }}
		</p>
		<p><!--Microsoft-->
			{{ form.useMicrosoft.label }}
			{{ form.useMicrosoft() }}
		</p>
		<p><!--Twitter-->
			{{ form.useTwitter.label }}
			{{ form.useTwitter() }}
		</p>
		<p><!--Amazon-->
			{{ form.useAmazon.label }}
			{{ form.useAmazon() }}
		</p>
		<p class = "submitButton">
			{{ form.submit() }}
		</p>
	</form>
	<!--</div>-->
{% endblock %}
